* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: cornflowerblue;
}

.memory-game{
    width: 640px;
    height: 640px;
    
    display: flex;
    flex-wrap: wrap;
    perspective: 10000px;
}


.memory-card{
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.memory-card.flip{
    transform: rotatey(180deg);
}

.memory-card :active{
    transform: scale(0.95);
}
.card-front, .card-back{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    background: rgba(54, 56, 192, 0.883);
    backface-visibility: hidden;
}

.card-front{
    transform: rotatey(180deg)
}
img{
    max-width: 100%;
    max-height: 100%;
}

.timer h1{
    text-align: left;
    margin-left: 50px;
}